@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

body{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    background-color: #E5E5E5;


}
.directorio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 115px;
    padding: 0px 100px;
    background-color: #FFFFFF;
}
.conjunto{
    display: flex;
}
.directorio div{
    margin: 3px;
    align-self: center;
}

.directorio button{
    width: 200px;
    height: 40px;
    align-self: center;
}

.buscar{
   
    padding: 2px;
    background-color:aliceblue;
    width: 300px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.315);
    border-radius: 10px;
}

.buscar input{
    width: 260px;
    height: 100%;
    align-self: center;
    border: none;
    background-color: aliceblue;
    padding-left: 10px;
   
}
.buscar> img{
    align-self: center;
    margin-top: 3px;
}
.banner{
    display: flex;
    align-items: flex-end;
    align-items: center;
    background-image: url("fotos_tienda/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 352px;
    
    
}
.banner div>.consola{
    margin: 30px 100px;
}
.banner div > h1{
    color: white;
    font-size: 3em;  
   
}
.banner div > p{
    color: white;
    font-size: 1.5em;
   
}
.banner a{
    background-color: #2A7AE4;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.secciones{
    background-color: #FFFFFF;
    padding: 10px 100px;
    
}

.secciones .titulo{
    color: #464646;
    display: flex;
    justify-content: space-between;
 
    margin-bottom: 10px;
    margin-top: 50px;
    font-size: 32px;
}
.titulo >a{
    text-decoration: none;
    color: #2A7AE4;
    font-size: 16px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.container .caja{
    width: 176px;
     
    
}
.producto, .productos{
    margin-top: 6px;
    text-decoration: none;
}

.publico{
    background-color: #EAF2FD;
    display: flex;
    padding: 0px 100px;
    justify-content: space-between;
    padding-top: 50px;
}

.nosotros{
   
    color: #464646;
    display: flex;
    flex-direction: column;
    width: 40vw;
    font-size: 16px; 
    padding-top: 0.2em;
    margin: 15px;
     
}
.nosotros1{
   
    color: #464646;
    display: flex;
    flex-direction: column;
    width: 40vw;
    font-size: 16px; 
    padding-top: 0.2em;
     
}
.nosotros>a{
   
    text-decoration: none;
    
    line-height: 3em;
    
}
.marca{
    
    width: 25vw;
    text-align: center;
    padding-top: 0.2em;
}
.formulario{
    flex-direction: column;
}
.nombre{
    width: 37vw;
    height: 50px;
    margin-top: 15px;
    border:#2A7AE4;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.199);
    padding-left: 16px;
}

.texto{
    width: 37vw;
    height: 100px;
    margin-top: 15px;
    outline: none;
    resize: none;
    border:#2A7AE4;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.185);
    padding: 8px;


}
.boton{
    background-color: #2A7AE4;
    color: white;
    width: 200px;
    height: 50px;
    margin-top: 15px;
    border: #4188e62c;
    font-size: 16px;
}
::placeholder{
    padding: 20px;
    opacity: 50%;
    font-size: 16px;
    
    
    
}

.pie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    height: 102px;
    color: #464646;
}

.desarrollado{
    text-align: center;
}
@media screen and (max-width:390px) {
    body{
        width: 100vw;
        font-size: 12px;
    }
    .directorio{
        padding: 0px;
    
    }
    .directorio div{
        margin: 1PX;
    }
    .conjunto div >img{
        width: 30px;
    }
    .buscar{
        width: 210px;
        height: 60px;
        margin: 2px;
    }
    .buscar input{
        width: 170px;
        padding: 0px;
        margin: 0px;
    }
    
    .directorio button{
        width: 50px;
    }

    .banner{
        height: auto;
        padding-bottom: 22px;
    }
    .banner div>.consola{
        margin: 10px;
        margin-top: 25px;
        margin-bottom: 10px;
    }
}